<section class="integrants" id="integrants">
    <h1>Integrantes</h1>
    <p>Estudiantes de Ingeniería en Tecnologías Computacionales del Tecnológico de Monterrey que cursan la materia Desarrollo de Aplicaciones Web.</p>

    <div class="row">
        <div class="feature-box col-lg-4">
            <img src="assets/img/me.png" class="size" alt="Alexandra Solis">
            <p class="featuresp"><strong>Alexandra Solís</strong></p>
        </div>
        <div class="feature-box col-lg-4">
            <img src="assets/img/diego.PNG" class="size" alt="Diego Moreno">
            <p class="featuresp"><strong>Diego Moreno</strong></p>
        </div>
        <div class="feature-box col-lg-4">
            <img src="assets/img/ivan.png" class="size" alt="Ivan Morales">
            <p class="featuresp"><strong>Ivan Morales</strong></p>
        </div>
    </div>
</section>