@import 'src/app/main_components/variables';
@import '~node_modules/bootstrap/scss/bootstrap';
@import '~node_modules/bootstrap/scss/variables';
@import '~node_modules/bootstrap/scss/forms';
@import '~node_modules/bootstrap/scss/buttons';
.img-404 {
    margin-top: 17vh;
    width: 200px;
    height: 200px;
    margin-left: 40%;
    margin-right: 40%;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.message {
    height: 84vh;
    width: 100%;
    background-color: $color-background;
}

.e {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.btn-secondary {
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
}

@mixin mobile {
    @media (max-width:#{$phone-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width:#{$medium-tablet-max-width}) and (max-width:#{$large-tablet-max-width}) {
        @content;
    }
}

@include mobile {
    .btn-secondary {
        margin-left: 8%;
        margin-right: 0px;
        width: 80%;
    }
    .img-404 {
        margin-top: 17vh;
        width: 200px;
        height: 200px;
        margin-left: 5%;
        margin-right: 0%;
    }
}

@include tablet {
    .btn-secondary {
        margin-left: 8%;
        margin-right: 0px;
        width: 80%;
    }
    .img-404 {
        margin-top: 17vh;
        width: 200px;
        height: 200px;
        margin-left: 5%;
        margin-right: 0%;
    }
}