h1{
    font-size: 34px;
    font-weight: 800;
}
.simple-header{
    font-size: 28px;
    font-weight: 600;
}

.center{
    text-align: center;
}

table, th, tr, td{
    margin: 0 auto;
    text-align: center;
}

.btn{
    color: white;
}