<p>Agregar admin</p>
<form class="col s12">
    <div class="row row-input">
        <div class="input-field col s12">
            <input placeholder="Nombre" id="nombre" type="text" class="validate">
        </div>
        <div class="input-field col s12">
            <input placeholder="Email" id="mail" type="text" class="validate">
        </div>
        <div class="input-field col s12">
            <input placeholder="Contraseña" id="password" type="text" class="validate">
        </div>
    </div>
</form>
<p>Editar admin</p>
<p>Borrar admin</p>
<p>Ver admins</p>
