@import 'src/styles/variables';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/forms';
@import 'node_modules/bootstrap/scss/carousel';
@import 'node_modules/bootstrap/scss/buttons';

/* Carousel */

.carousel {
    img {
        width: 30%;
    }
}

.carousel {
    p {
        font-size: 1.3rem;
    }
}

.carousel-item {
    height: 89vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

//Mobile version
@mixin mobile {
    @media (max-width:#{$phone-width}) {
        @content;
    }
}

@mixin tablet_large {
    @media (max-width:#{$large-tablet-max-width}) {
        @content;
    }
}

@mixin tablet_small {
    @media (min-width:#{$medium-tablet-max-width}) {
        @content;
    }
}

@include mobile {
    .header,
    .carousel,
    .features,
    .integrants,
    .contact,
    .footer {
        width: 100%;
    }
    .btn-success {
        width: 100%;
    }
    .features,
    .integrants,
    .contact,
    .carousel {
        height: auto;
    }
    .ribbon-top-left {
        top: -10px;
        left: 60%;
    }
    .ribbon-top-left::before,
    .ribbon-top-left::after {
        border-top-color: transparent;
        border-right-color: transparent;
    }
    .ribbon-top-left::before {
        top: 0;
        left: 0;
    }
    .ribbon-top-left::after {
        bottom: 0;
        right: 0;
    }
    .ribbon-top-left {
        span {
            left: -25px;
            top: 30px;
            transform: rotate(45deg);
        }
    }
    #contactH1 {
        font-size: 40px;
    }
}

@include tablet_large {
    .header,
    .carousel,
    .features,
    .integrants,
    .contact,
    .footer {
        width: 100%;
    }
    .btn-success {
        width: 100%;
    }
    .features,
    .integrants,
    .contact,
    .carousel {
        height: auto;
    }
    .ribbon-top-left {
        top: -10px;
        left: 60%;
    }
    .ribbon-top-left::before,
    .ribbon-top-left::after {
        border-top-color: transparent;
        border-right-color: transparent;
    }
    .ribbon-top-left::before {
        top: 0;
        left: 0;
    }
    .ribbon-top-left::after {
        bottom: 0;
        right: 0;
    }
    .ribbon-top-left {
        span {
            left: -25px;
            top: 30px;
            transform: rotate(45deg);
        }
    }
    #contactH1 {
        font-size: 40px;
    }
}