<section class="features" id="features">
    <h1>Acerca de</h1>
    <p>Desarrollo de una <span>aplicación web</span> que ofrecerá al usuario la posibilidad de reportar cualquier tipo de incidencia o queja que se considere moral y/o éticamente incorrecta, que haya vivido en cualquier momento de su día.
    </p>
    <div class="container-fluid">
        <div class="row">
            <div class="feature-box col-lg-4">
                <i class="icon fas fa-check-circle fa-4x"></i>
                <h3 class="feature-title">Fácil de reportar.</h3>
                <p class="featuresp">Puedes crear reportes de manera sencilla.</p>
            </div>

            <div class="feature-box col-lg-4">
                <i class="icon fas fa-address-book fa-4x"></i>
                <h3 class="feature-title">Checar reportes.</h3>
                <p class="featuresp">Puedes revisar los reportes más actualizados.</p>
            </div>

            <div class="feature-box col-lg-4">
                <i class="icon fas fa-heart fa-4x"></i>
                <h3 class="feature-title">Salva vidas.</h3>
                <p class="featuresp">Salva vidas reportando a otras personas.</p>
            </div>
        </div>
    </div>
</section>