<div class="row inside-container">
    <form class="col s12">
        <div class="row row-input">
            <div class="input-field col s6">
              <input placeholder="Id de seguridad, eg. 10283"id="security_id" type="text" class="validate">
            </div>
            <div class="input-field col s6">
              <input placeholder="Año de la gráfica, eg.2020" id="year" type="text" class="validate">
            </div>
        </div>
        <div class="row row-input">
            <div class="input-field col s6">
                <input placeholder="Nombre de la gráfuca" id="graph_name" type="text" class="validate">
            </div>
        </div>
        <div class="row row-input">
            <div class="input-field col s6">
                <input placeholder="Datos a agregar (numero)" id="data_inputs" type="number" class="validate">
            </div>
            <div class="input-field col s6">
                <a class="waves-effect waves-light btn-large" (click)="getValues()">Generar campos</a>
            </div>
        </div>
        <div id="add_me">
            
        </div>
        <div class="input-field center-align">
            <a class="waves-effect waves-light btn-small ">Crear gráfica</a>
        </div>
    </form>
</div>