@import "~materialize-css/sass/materialize.scss";
$jungleg: #26A195;
$charcoal: #2F404E;

body {
  #navbar {
    .charcoal {
      background-color: $jungleg;
    }
  }

  #main {
    .righty {
      margin-left: 2rem;

      #reportes {
        display: block;
        width: 150%;

        a {
          background-color: $charcoal;
        }

        //.inside-container {
        //  width: 40%;
        // }
      }

      #crear {
        display: none;
        width: 150%;
      }
    }
  }
}
